<div class="back">
  <br/>
  <div class="content">
    <div class="centerer">
      <h1>Login</h1>
    </div>
    <br/>
    <div class="centerer">
      <label id=emailLabel>E-Mail</label>
      <input id=email [(ngModel)]=email>
    </div>
    <br/>
    <div class="centerer">
      <label id=passwordLabel>Password</label>
      <input type=password id=password [(ngModel)]=password>
    </div>
    <br/>
    <div class="centerer">
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
    <br/>
    <div class="centerer">
      <button class="btn btn-danger" routerLink="/">Back</button>
    </div>
  </div>
</div>
