.back {
  width: 100%;
  height: 100vh;
  background-color: beige;
}

.logo {
  position: absolute;
  background-image: url("../../assets/img/chat-icon.png");
  background-color: rgb(173, 162, 98);
  background-blend-mode: lighten;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.50;
}

.content {
  position: relative;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: blue;
  font-size: 150px;
}

.centerer {
  display: flex;
  justify-content: center;
}

.btn.btn-success {
  position: static;
  width: 50vh;
}
