.addRecipient {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn.btn-success.addRecipientButton {
  width: 100%;
}

input {
  width: 70%;
  margin-right: 1%;
}

.btn.btn-primary {
  margin-left: 1%;
  width: 28%;
}

.recipientElements {
  margin-top: 5px;
}

